<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <main>
      <% messages.forEach((message) => { %>
      <h2><%= message.username %></h2>
      <p><%= message.text %></p>
      <i><%= message.added %></i>
      <% }); %>
    </main>
    <a href="/new">Create New Message</a>
    <br />
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
      ><b>Delete All Messages</b></a
    >
  </body>
</html>
